<footer class="bg-dark text-white py-4 mt-5">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h5>値下げスカウター</h5>
                <p>Amazon・楽天の商品価格を自動追跡し、大幅値下げ時に通知するサービスです。</p>
            </div>
            <div class="col-md-3">
                <h5>リンク</h5>
                <ul class="list-unstyled">
                    <li><a href="{{ url_for('home') }}" class="text-white">ホーム</a></li>
                    <li><a href="{{ url_for('amazon') }}" class="text-white">Amazon特価</a></li>
                    <li><a href="{{ url_for('rakuten') }}" class="text-white">楽天特価</a></li>
                    <li><a href="{{ url_for('about') }}" class="text-white">サイトについて</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <h5>フォロー</h5>
                <p>最新情報は Twitter でも配信中！</p>
                <a href="https://twitter.com/値下げスカウター" class="btn btn-outline-light">
                    Twitter でフォロー
                </a>
            </div>
        </div>
        <hr>
        <div class="text-center">
            <p>&copy; 2025 値下げスカウター All Rights Reserved.</p>
        </div>
    </div>
</footer>